masthead-heading mb-0 {
    color: black;
}

masthead-subheading mb-0 {
    color: black;
}

nav div div ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.ms-auto {
  margin-left: auto !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}