masthead-heading mb-0 {
    color: black;
}

masthead-subheading mb-0 {
    color: black;
}

table {
    padding: 5px;
    margin: auto;
    table-layout: fixed;
    border: 2px solid black;
}

.table-add {
    border: 0px none;
}

tr {
    table-layout: fixed;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

nav div div ul {
    display:flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0px 100px 0px;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.ms-auto {
  margin-left: auto !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.btn {
  border-radius: 5px;
  background-color: lightblue;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.add {
  height: 50px;
  width: 50px;
}

.add img {
  max-width: 100%;
  height: auto;
}

.right-btn {
  position: absolute;
  border-radius: 1em;
  margin: auto;
  width: 100px;
  height: 60px;
  right: 10px;
  bottom: 150px;
}
.navbar-dark .navbar-toggler{
  /* 枠線 */
  border-color: rgba(212, 108, 228, 1);
}
.left-btn {
  position: absolute;
  border-radius: 1em;
  margin: auto;
  width: 100px;
  height: 60px;
  left: 10px;
  bottom: 150px;
}

#id_schedule_do, #id_schedule_ditching {
  width: 190px;
  height: 30px
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-black-rgb), var(--bs-bg-opacity)) !important;
}

#id_fixed_do {
  width: 190px;
  height: 30px
}