h1 {
  vertical-align : middle;
  text-align:center;
}

h2 {
  text-align: center
}
h3 {
  text-align: center
}
h5 {
  margin-left: 490px;
}
.text-link {
color: #0095d9;
}
h6 {
  margin-left: 510px;
}

h4.hover-test{
    color:#4169e1;
    font-size: 23px;
    margin-left: 60px;
}
h4.hover-test:hover{
	color: #4682b4;
	font-size: 25px;
	font-weight: bold;
}
header{
    padding: 30px;
    background: #fff3b8;

}
section{
    padding: 30px 0px 0px 0px;
}

footer {
    background: linear-gradient(70deg, #24140e, #24140e);
}

p.footer-text {
    color: white;
    text-align: center;
}

/*オレンジのボタン*/
a.btn.btn-link {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;

}
a.btn.btn-link:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
/*ここまで*/
/*カレンダー画面先月ボタン*/
a.btn.prev-month {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  position: relative;
  bottom: 10px;
  left: 10%;
}
a.btn.prev-month:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
/*ここまで*/

/*カレンダー画面来月ボタン*/
a.btn.next-month {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  position: relative;
  bottom: 10px;
  left: 80%;
}
a.btn.next-month:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
/*ここまで*/

.calender-y-m {
 text-align: center;
 font-weight:bold;
}

/*固定スケジュール登録画面ボタン*/
button.btn.fixed_create {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  position: relative; /* relativeを指定 */
  bottom: 10px;
  left: 80%;

}
button.btn.fixed_create:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
/*ここまで*/

/*固定スケジュール登録画面戻るボタン*/
button.btn.back-page {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  position: relative; /* relativeを指定 */
  bottom: 10px;
  left: 10%;

}
button.btn.back-page:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
/*ここまで*/


/*固定スケジュールフォームのｃｓｓ*/
div.list_var {
 margin: 20px;
}
/*ここまで*/

/*固定スケジュール一覧*/
h2.post-fixed_do {
    text-align:left;
}
h6.post-fixed_start_time {
    text-align:left
}
/*ここまで*/

/*科目一覧追加ボタン*/
a.btn.sub-create {

  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
  position: relative;
  bottom: 10px;

}
a.btn.sub-create:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}


/*科目編集ボタン*/
a.btn.update-btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#00a381 0%, #88cb7f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}
a.btn.update-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
/*ここまで*/

/*科目削除ボタン*/
a.btn.delete-btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#e60033 0%, #ce5242 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}
a.btn.delete-btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

table.subj {
   margin-bottom:20px;
}

/*科目追加*/
form.subjcreate {
    width: 200px;
    height: 30px
    text-align:center;
}




