h1 {
  vertical-align : middle;

  font-family: "ヒラギノ明朝 ProN","Hiragino Mincho ProN"; font-weight: bold;
}

h2 {
  text-align: center
}
h3 {
  text-align: center
}
h5 {
  margin-left: 490px;
}
h6 {
  margin-left: 510px;
}

h4.hover-test{
    color:#4169e1;
    font-size: 23px;
    margin-left: 60px;
}
h4.hover-test:hover{
	color: #4682b4;
	font-size: 25px;
	font-weight: bold;
}
header{
    padding: 30px;
    background: #fff3b8;

}
section{
    padding: 30px 0px 0px 0px;
    background-color: #fff0f5;
}

footer {
    background: linear-gradient(70deg, #98623c, #98623c);
}

p.footer-text {
    color: white;
    text-align: center;
}


a.btn.btn-link {
      display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;

}


a.btn.btn-link:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

