{% load static %}

<html lang="ja">
    <head class="header">
        <!-- My style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>


        <div class="nav">

            <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
            <input id="drawer_input" class="drawer_hidden" type="checkbox">

            <!-- ハンバーガーアイコン -->
            <label for="drawer_input" class="drawer_open"><span></span></label>

            <!-- メニュー -->
            <nav class="nav_content">
              <ul class="nav_list">
                <li class="nav_item"><a href="">メニュー1</a></li>
                <li class="nav_item"><a href="">メニュー2</a></li>
                <li class="nav_item"><a href="">メニュー3</a></li>
              </ul>
            </nav>
        </div>
    </head>
    <body>
        {% block headr %}{% endblock %}
        <nav>
            <div>
                <a class="navbar-brand" href="{% url 'rakusukeapp:index' %}">らく助</a>
                <div>
                    <ul>
                        {% if user.is_authenticated %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                          </li>
                        {% else %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                          </li>
                          <li class="nav-item ml-auto">
                            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                          </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block header%}{% endblock %}
        {% block contents%}{% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-black">
          <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; らく助 2022</p>
          </div>
        </footer>

    </body>
</html>