{% load static %}

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- My style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body style="padding: 50px 0px 10px">
        {% block headr %}{% endblock %}
        <!-- ナビゲーションバー -->
        <nav class="navbar navbar-light bg-light fixed-top">
        <!-- タイトル -->
            <a class="navbar-brand" href="{% url 'rakusukeapp:index' %}">らく助</a>
            <!-- ハンバーガーメニュー -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <!-- ナビゲーションメニュー -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rakusukeapp:onedayschedulelist' %}">１日のスケジュールを見る</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rakusukeapp:oneweekschedulelist' %}">週のスケジュールを見る</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">スケジュールを作成する</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">固定スケジュールを登録する</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_reset_password'%}">パスワードを変更する</a>
                    </li>
                    <div>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
                        </li>
                    </div>
                    {% else %}
                    <div>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block header%}{% endblock %}
        {% block contents%}{% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-black">
          <div class="container">
            <p class="black text-center">Copyright &copy; らく助 2022</p>
          </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>
