{% extends 'base.html' %}
{% block title %}スケジュール日時選択画面 | らく助{% endblock %}


{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">らく助</h1>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
    {{ month_current | date:"Y年m月" }}

    <table class="table">
        <thead>
        <tr>
            {% for w in week_names %}
                <th>{{ w }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week in month_days %}
            <tr>
                {% for day in week %}
                    {% if now == day %}
                        <td class="table-success">
                            {% else %}
                        <td>
                    {% endif %}

                {% if month_current.month != day.month %}
                    {{ day | date:"m/d" }}
                {% else %}
                    {{ day.day }}
                {% endif %}

                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'rakusukeapp:calendar' month_previous.year month_previous.month %}">前月</a>
    <a href="{% url 'rakusukeapp:calendar' month_next.year month_next.month %}">次月</a>
{% endblock %}
