{% extends 'base.html' %}
{% block title %}スケジュール日時選択画面 | らく助{% endblock %}


{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <link rel="stylesheet" href="mystyle.css">
        <div class="container">
            <h1 class="masthead-heading mb-0">らく助</h1>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
<section style="padding: 50px 0px 10px" class="masthead text-center text-black">
    <dev style="text-align:center">
        <table border="1">
            <tr>
                <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
            </tr>
            <tr>
                <td><a>1</a></td>
                <td><a>2</a></td>
                <td><a>3</a></td>
                <td><a>4</a></td>
                <td><a>5</a></td>
                <td><a>6</a></td>
                <td><a>7</a></td>
            </tr>
        </table>
    </dev>
</section>
{% endblock %}
