{% extends 'base.html' %}
{% block title %}詳細一覧 | らく助{% endblock %}
{% block active_detaillist_list %}active{% endblock %}

{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <link rel="stylesheet" href="mystyle.css">
            <h1 class="masthead-heading mb-0">らく助</h1>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
<section>
    <dev>
        <h1>詳細一覧</h1>
            <a class="btn" href="{% url 'rakusukeapp:subjectlist' %}">戻る</a>
            {% if detailpk != ""  %}
                <a class="btn" href="{% url 'rakusukeapp:detailcreate' detailpk %}">詳細作成</a>
            {% endif %}
        <table>
            <tr>
                <td>科目名</td>
            </tr>
            {% for detaname in rakusukedetail %}
                <tr>
                    <td>
                        <a>チェック(check)</a>
                        <a href="{% url 'rakusukeapp:detailupdate' detaname.pk %}">チェック(update)</a>
                    </td>
                    <td>
                        <a class="container h4">
                            {{ detaname.detail_name }}
                        </a>
                        <a class="container h4">
                            {{ detaname.detail_achieved }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'rakusukeapp:detaildelete' detaname.pk %}">削除</a>
                    </td>
                </tr>
            {% empty %}
                <h2>詳細がありません。</h2>
            {% endfor %}
        </table>
    </dev>

</section>
{% endblock %}