{% extends 'base.html' %}
{% block title %}詳細削除 | らく助{% endblock %}
{% block active_detaillist_list %}active{% endblock %}

{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <link rel="stylesheet" href="mystyle.css">
            <h1 class="masthead-heading mb-0">らく助</h1>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
<section>
    <dev>
        <h1>詳細を削除しますか？</h1>
        <form method="POST">
            <a class="btn" href="{% url 'rakusukeapp:subjectlist' %}">キャンセル</a>
            <button class="btn" type="submit">削除</button>
        </form>
    </dev>

</section>
{% endblock %}