{% extends 'base.html' %}
{% load static %}

{% block title %}固定スケジュール編集{% endblock %}

{% block active_blog_list %}active{% endblock %}

{% block contents %}
<h2>固定スケジュール編集</h2>
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary mt-5" type="submit">更新</button>
                <a class="btn btn-secondary mt-5 ml-2" href="{% url 'rakusukeapp:fixed_list' %}">キャンセル</a>

            </form>
        </div>
    </div>
</div>
{% endblock %}