{% extends 'base.html' %}
{% block title %}らくらくスケジュール生成アプリ | らく助{% endblock %}


{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">らく助</h1>
            <h3 class="masthead-subheading mb-0">らくらくスケジュール生成アプリ</h3>
        </div>
    </div>
    <nav>
        <div>
            <div>
                <ul >
                    {% if user.is_authenticated %}
                        <li>
                            <a class="btn" href="{% url 'rakusukeapp:makeschedule' %}">スケジュールを作成する</a>
                            <a class="btn" href="{% url 'rakusukeapp:calendar' %}">スケジュールを見る</a>

                            <h6>動画を見る</h6>
                            <h7>ひかきん</h7></br>
                            <iframe width="300"
                                src="https://www.youtube.com/embed/2Li5jhNIRIs"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></br>

                            <h7>よねつ</h7></br>
                            <iframe width="300"
                                src="https://www.youtube.com/embed/1sjtSgdbsAg"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></br>

                            <h7>レッツゴー</h7></br>
                            <iframe width="300"
                                src="https://www.youtube.com/embed/MeIr__26dAw"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></br>
                        </li>
                    {% else %}
                        <li>
                            <a class="btn" href="{% url 'account_login' %}">ログイン</a>
                        </li>
                        <li>
                            <a class="btn" href="{% url 'account_signup' %}">新規登録</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}


{% block contents %}
<section>


</section>
{% endblock %}
