{% extends 'base.html' %}
{% load static %}
{% block title %}らくらくスケジュール生成アプリ | らく助{% endblock %}

<html lang="ja" dir="ltr">
   <head>
     <meta charset="utf-8">

     <!-- ここにJavaScriptを読み込むコード -->
     <script src="{% static 'js/script.js' %}"></script>
   </head>
   {% block header%}
    <header class="masthead text-center text-black">
        <div class="masthead-content">
             <link rel="stylesheet" href="mystyle.css">
            <div class="container">
                <h1 class="masthead-heading mb-0">らく助</h1>
                <h3 class="masthead-subheading mb-0">スケジュール作成</h3>
            </div>
        </div>
    </header>
    {% endblock %}

   {% block contents %}
    <section>
    　<div class="row">
        <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <table class="table">
                <input class="batu" type="button"  />
                {{ form.as_table }}
              </table>
              <input class="cross" type="button" onclick="appendForm()" />
            　<button class="" onclick="location.href='{% url '戻る先のページ %}'">戻る</button>
            　<button class="" type="submit" onclick="location.href='{% url '作成後遷移ページ %}'">作成</button>
        </form>
      </div>

    </section>

    {% endblock %}

</html>