{% extends 'base.html' %}
{% load static %}
{% block title %}らくらくスケジュール生成アプリ | らく助{% endblock %}

{% block head %}
     <meta charset="utf-8">
     <link ref="stylesheet" href="mystyle.css">
{% endblock %}

{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">らく助</h1>
            <h3 class="masthead-subheading mb-0">スケジュール作成</h3>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
    <form method="post" action="{% url 'rakusukeapp:tentativeschedule schedule_date_0' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="list">
            <div class="list_var">
                <table>
                    <tr style="text-align:center">
                        <th>日付:</th>
                        <td>
                                <input type="date" id="list_0" name="schedule_date_0">
                        </td>
                    </tr>
                    <tr style="text-align:center">
                        <th>やること:</th>
                        <td>
                                <input type="text" id="list_0" name="schedule_do_0">
                        </td>
                    </tr>
                    <tr style="text-align:center">
                        <th>カテゴリ:</th>
                        <td>
                            <input type="radio" id="list_0" name="schedule_category_0" value="1">
                            <label>勉強</label>
                            <input type="radio" id="list_0" name="schedule_category_0" value="2" checked>
                            <label>遊び</label>
                            <input type="radio" id="list_0" name="schedule_category_0" value="3">
                            <label>その他</label>
                        </td>
                    </tr>
                    <tr style="text-align:center">
                        <th>優先度:</th>
                        <td>
                            <input type="radio" id="list_0" name="schedule_priority_0" value="1">
                            <label>強</label>
                            <input type="radio" id="list_0" name="schedule_priority_0" value="2" checked>
                            <label>中</label>
                            <input type="radio" id="list_0" name="schedule_priority_0" value="3">
                            <label>弱</label>
                        </td>
                    </tr>
                    <tr style="text-align:center">
                        <th>1日の作業時間:</th>
                        <td>
                               <input type="text" id="list_0" name="schedule_worktime_0">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="list_del">×</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table type="text-add">
            <tr>
                <td>
                    <button value="" type="button" class="list_add">
                        <img src="{% static 'assets/img/appendButton.png' %}">
                    </button>
                </td>
            </tr>
        </table>
        <button type="submit" class="right-btn">作成</button>
    </form>
    <button class="left-btn" onclick="location.href='{% url  'rakusukeapp:index' %}'">戻る</button>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.add-input-area@4.11.0/dist/jquery.add-input-area.min.js" integrity="sha256-yOwGvcRp3I8/XWkeARhJkgdfLREQygbFA5W2bUpM2FY=" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $('#list').addInputArea();
    </script>
{% endblock %}