{% extends 'base.html' %}
{% load static %}
{% block title %}らくらくスケジュール生成アプリ | らく助{% endblock %}

<html lang="ja" dir="ltr">
   <head>
     <meta charset="utf-8">
     <link ref="stylesheet" href="mystyle.css">
     <!-- ここにJavaScriptを読み込むコード -->
     <script src="{% static 'js/script.js' %}"></script>
     <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
   </head>
   {% block header%}
    <header class="masthead text-center text-black">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">らく助</h1>
                <h3 class="masthead-subheading mb-0">スケジュール作成</h3>
            </div>
        </div>
    </header>
    {% endblock %}

   {% block contents %}
    <section>
    　<div>
        <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
             <table>
                <tr style="text-align:center">
                    <th>{{ form.schedule_do.label_tag }}</th>
                    <td>{{ form.schedule_do }}</td>
                </tr>
                <tr style="text-align:center">
                    <th>{{ form.schedule_category.label_tag }}</th>
                    <td>
                    {% for category in form.schedule_category %}
                        <input type="radio" name="category" value={{ category }}
                    {% endfor %}
                    </td>
                </tr>
                <tr style="text-align:center">
                    <th>{{ form.schedule_worktime.label_tag }}</th>
                    <td>{{ form.schedule_worktime }}</td>
                </tr>
                <tr style="text-align:center">
                    <th>{{ form.schedule_priority.label_tag }}</th>
                    <td>
                    {% for priority in form.schedule_priority %}
                        <input type="radio" name="priority" value={{ priority }}
                    {% endfor %}
                    </td>
                </tr>
                <tr style="text-align:center">
                    <th>{{ form.schedule_ditching.label_tag }}</th>
                    <td>{{ form.schedule_ditching }}</td>
                </tr>
             </table>
             <input class="cross" name="addFormBtn" type="button" onclick="appendForm()">
             <br>
            <button class="left-btn" onclick="location.href='#'" >戻る</button>
            <button class="right-btn" type="submit" onclick="location.href='#'" >作成</button>
        </form>
      </div>

    </section>

    {% endblock %}

</html>