{% extends 'base.html' %}
{% block title %}科目一覧 | らく助{% endblock %}
{% block active_subjectlist_list %}active{% endblock %}

{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <link rel="stylesheet" href="mystyle.css">
            <h1 class="masthead-heading mb-0">らく助</h1>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
<section>
    <dev>
        <h1>科目一覧</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <a class="btn" href="{% url 'rakusukeapp:subjectcreate'%}">科目作成</a>
        </form>
        {% for subjname in rakusukesubject_list %}
            <table border="1">
                <a class="container h4" color="black" href="{% url 'rakusukeapp:detaillist' subjname.pk %}">
                    {{ subjname.subject_name }}
                </a>
                <input type="submit" href="{% url 'rakusukeapp:subjectdelete' subjname.pk %}" value="削除">
            </table>
        {% empty %}
            <h2>科目がありません。</h2>
        {% endfor %}
    </dev>

</section>
{% endblock %}