{% extends 'base.html' %}
{% load static %}
{% block title %}科目一覧 | らく助{% endblock %}
{% block active_subjectlist_list %}active{% endblock %}

{% block head %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/pc_index.css' %}">-->

<link rel="stylesheet" type="text/css" media="only screen and (max-device-width:480px)" href="{% static 'css/phone_index.css' %}">
<link rel="stylesheet" type="text/css" media="screen and (min-device-width:481px)" href="{% static 'css/pc_index.css' %}" />
{% endblock %}

{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <link rel="stylesheet" href="mystyle.css">
            <h1 class="masthead-heading mb-0">らく助</h1>
            <h3>科目一覧</h3>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
<section>
    <dev align="center">

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <a type="button" class="btn sub-create"  href="{% url 'rakusukeapp:subjectcreate'%}">科目作成</a>
        </form>
        <table class="subj">
            {% for subjname in rakusukesubject_list %}
                {% if forloop.first %}
                    <tr>
                        <td>科目名</td>
                        <td></td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        <a class="container h4" color="black" href="{% url 'rakusukeapp:detaillist' subjname.pk %}">
                            {{ subjname.subject_name }}
                        </a>
                    </td>
                    <td><a type="button" class="btn update-btn" href="{% url 'rakusukeapp:subjectupdate' subjname.pk %}">編集</a></td>
                    <td><a type="button" class="btn delete-btn" href="{% url 'rakusukeapp:subjectdelete' subjname.pk %}">削除</a></td>
                </tr>
            {% empty %}
                <h2>科目がありません。</h2>
            {% endfor %}
        </table>
    </dev>

</section>
{% endblock %}