{% extends 'base.html' %}
{% block title %}科目削除 | らく助{% endblock %}
{% block active_subjectlist_list %}active{% endblock %}

{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <link rel="stylesheet" href="mystyle.css">
            <h1 class="masthead-heading mb-0">らく助</h1>
        </div>
    </div>
</header>
{% endblock %}


{% block contents %}
<section>
    <dev>
        <h1>科目を削除しますか？</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <a class="btn" href="{% url 'rakusukeapp:subjectlist' %}">キャンセル</a>
            <input type="submit" value="削除">
        </form>
    </dev>

</section>
{% endblock %}