{% extends 'base.html' %}
{% load static %}
{% block title %}らくらくスケジュール生成アプリ | らく助{% endblock %}

{% block head %}
     <meta charset="utf-8">
     <link ref="stylesheet" href="mystyle.css">
{% endblock %}

{% block header%}
<header class="masthead text-center text-black">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">らく助</h1>
            <h3 class="masthead-subheading mb-0">仮スケジュール</h3>
        </div>
    </div>
</header>
{% endblock %}

{% block contents %}
    <form method="POST" enctype="multipart/form-data">
        <table>
            {% for field in rakusukeschedule %}
                <table>
                    {% for i in field.worktime %}
                        {% if forloop.first %}
                            <tr>
                                <td><input value="{{ field.schedule_do }}" disabled></td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ field.schedule_do }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </table>
        <button type="submit" class="right-btn">作成</button>
    </form>
    <button class="left-btn" onclick="location.href='{% url  'rakusukeapp:tentativeschedule' %}'">再生成</button>
    <button class="left-btn" onclick="location.href='{% url  'rakusukeapp:index' %}'">戻る</button>
{% endblock %}